services:
  backend:
    build:
      context: ./backend/calculadora-emprestimos
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    container_name: loan_calc_backend

  frontend:
    build:
      context: ./frontend/calculadora-emprestimos-ui
      dockerfile: Dockerfile
    ports:
      - "3000:80" 
    depends_on:
      - backend
    container_name: loan_calc_frontend